.movies--container {
    text-align: center;
    background-color: #252525;
    background: url(./images/background.jpg) center;
    background-repeat: repeat;
    padding-top: 50px;
    height: 100vh;
    @include respond(medium){
        padding-top: 70px;
    }
}
.movies {
    width: 90%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    .movie {
        width: 210px;
        font-size: 12px;
        @include respond(large) {
            width: 310px;
        }
        &--episode {
            font-weight: 700;
            font-size: 14px;
            color: white;
            font-family: $sec-font;
            text-transform: uppercase;
            text-align: left;
            margin-top: 10px; 
        }
        img {
            width: 200px;
            border-radius: 5px;
            @include respond(large) {
                width: 300px;
            }
        }
        &--name {
            font-weight: 700;
            font-size: 14px;
            color: white;
            font-family: $sec-font;
            text-transform: uppercase;
            text-align: left;
        }
        &--duration, &--rating {
            font-weight: 400;
            font-size: 14px;
            color: white;   
            font-family: $sec-font;
            text-align: left;
        }
        &--duration {
            margin-top: 6px;
        }
        &--rating {
            display: flex;
            margin-top: 6px;
            img { 
                width: 35px;
                margin-left: 7px;
                border-radius: 5px; 
            }
        }
        &--btn {
            display: inline-block;
            text-decoration: none;
            font-family: var(--sec-font);
            font-size: 12px;
            color: white;
            font-weight: 700;
            background: none; 
            outline: none;
            border: solid 1px $yellow;
            padding: 0.8em 2em;
            box-shadow: none;
            text-transform: uppercase;
            transform: color, background-color, 0.3 ease;
            cursor: pointer;
            margin-top: 10px;
            &:hover {
                color: black;
                background-color: $yellow;
            }
        }
        p {
            margin-left: 12px;
        }
    }
}

.loading {
    font-size: 50px; 
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-family: $sec-font;
    text-transform: uppercase;
}


/* CAROUSEL SECTION */
.carousel--wrapper {
    overflow: hidden;
    margin: 0 auto;
    width: 95%;
    display: flex;
    align-items: center;
    padding: 0 1em;
    position: relative;
    @include respond(medium) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .carousel {
        width: 80%;
        transform-style: preserve-3d;
        height: 450px;
        @include respond(large) {
            height: 600px;
        }
        &--elem {  
            opacity: 0;
            position: absolute;
            top: 0;
            z-index: 100;
            transition: all 0.5s ease;
        }
        &--btn {
            position: absolute;
            top: 47%;
            width: 3rem;
            height: 3rem;
            background-color: transparent;
            border-radius: 50%;
            cursor: pointer;
            z-index: 1001; 
            border: 1px solid $yellow;
            transition: background-color 0.2s ease-in;
            &:hover {
                background-color: $yellow;
            }
            &:focus {
                outline: none;
            }
            @include respond(smobile) {
                z-index: 500;
            }
        }
        .active {
            opacity: 1;
            position: relative;
            z-index: 900;
        }
        .prev {
            opacity: 1;
            transition: opacity 0.01s linear;
            left: 0;
            //transform: translateX(-150%);
            @include respond(smobile) {
                opacity: 0;
                transform: translateX(-150%);
            }
        }
        .next {
            opacity: 1;
            transition: opacity 0.01s linear;
            right: 0;
            //transform: translateX(150%);
            @include respond(smobile) {
                opacity: 0;
                transform: translateX(150%);
            }
        }
    }
}

.btn--prev {
    left: 10px;
}

.btn--next {
    right: 10px;
}

.btn--prev::after, .btn--next::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 54%;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    transition: all 0.2s ease-in;
    transform: translate(-50%,-50%) rotate(135deg);
}
.btn--next::after {
  left: 47%;
  transform: translate(-50%,-50%) rotate(-45deg);
}
.btn--prev:hover::after, .btn--next:hover::after {
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}
