.planets--container{
    text-align: center;
    background-color: #252525;
    padding-top: 50px;
    height: 100vh;
    background: url(./images/background.jpg) center;
    background-repeat: repeat;
}