@import "_variables.scss";
@import "_mixins.scss";
@import "_navbar.scss";
@import "_movies.scss";
@import "_characters.scss";
@import "_planets.scss";


* {
    box-sizing: border-box;
}
body {
    background-color: $content-color;
    margin: 0;
    padding: 0;
    font-family: $main-font;
    color: yellow;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
p, h1 {
    margin: 0;
    padding: 0;
}
.app-container {
    position: relative;
    width: 100%;
    height: 100vh;
}
.app-navbar {
    display: block;
    position: fixed;
    width: 250px;
    height: 100vh;
}
.app-content {
    display: block;
    position: absolute;
    left: 250px; 
    height: auto;
    width: calc(100% - 250px);
}
.main {
    background-color: black;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 3em;
    &--logo {
        background: url("images/Star_Wars_Logo.svg") center no-repeat;
        background-size: 35%;
        height: 300px;
        width: 100%;
    }
    &--txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin: 0 auto;
        @include respond(medium) {
            margin-top: 70px;
        }
        @include respond(xlarge) {
            margin-top: 150px;
        }
    }
    h1 {
        font-size: 23px;
    }
    h2 {
        font-size: 20px;
        margin: 20px 0;
    }
    p {
        font-size: 14px;
        position: absolute;
        bottom: 18px;
    }
    a {
        color: $yellow;
        text-decoration: none;
    }
}
