@import "_variables.scss";
@import "_mixins.scss";
@import "_navbar.scss";
@import "_movies.scss";
@import "_characters.scss";
@import "_planets.scss";
@import "_starships.scss";
@import "_vehicles.scss";

* {
  box-sizing: border-box;
}
body {
  background-color: $content-color;
  margin: 0;
  padding: 0;
  font-family: $main-font;
  color: yellow;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
p,
h1 {
  margin: 0;
  padding: 0;
}
.app-container {
  position: relative;
  width: 100%;
  height: 100vh;
}
.app-navbar {
  display: block;
  position: fixed;
  width: 250px;
  height: 100vh;
  transition: all ease-in 0.4s;
  @include respond(smobile) {
    position: absolute;
    z-index: 1000;
    width: 0px;
    left: -250px;
    display: block;
  }
}
.app-navbar.open {
  width: 250px;
  left: 0;
  opacity: 1;
  display: block;
}
.app-content {
  display: block;
  position: absolute;
  left: 250px;
  height: auto;
  width: calc(100% - 250px);
  @include respond(smobile) {
    left: 0;
    width: 100%;
  }
}
.mobile-menu--btn {
  display: none;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  appearance: none;
  text-align: left;
  @include respond(smobile) {
    //border: solid 1px red;
    display: block;
    position: relative;
    margin: 15px;
    float: left;
    height: 30px;
    width: 30px;
    z-index: 1001;
  }
  .bar {
    top: 0;
    left: 0;
    position: absolute;
    width: 28px;
    background-color: $yellow;
    height: 3px;
    transition: all ease 0.3s;
    &::before {
      content: "";
      position: absolute;
      height: 3px;
      width: 28px;
      background-color: $yellow;
      top: 8px;
    }
    &::after {
      content: "";
      position: absolute;
      height: 3px;
      width: 28px;
      background-color: $yellow;
      top: 16px;
    }
  }
}

.bar.open {
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
  &::before {
    opacity: 1;
    transform: rotate(90deg);
    top: 0;
  }
  &::after {
    opacity: 0;
  }
}

.bar--up.active {
  transform: translateY(3px) rotate(135deg);
}
.bar--down.active {
  transform: translateY(-4px) rotate(45deg);
}

.opacity--overlay {
  z-index: 700;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -110%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: left 0.3s ease;
  opacity: 0;
}
.opacity--overlay.open {
  left: 0;
  opacity: 1;
}

.main {
  background-color: black;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 3em;
  &--logo {
    background: url("images/Star_Wars_Logo.svg") center no-repeat;
    background-size: 35%;
    height: 300px;
    width: 100%;
    @include respond(smobile) {
      height: 220px;
      background-size: 100%;
    }
    @include respond(mmobile) {
      background-size: 80%;
    }
  }
  &--txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    @include respond(smobile) {
      width: 100%;
    }
    @include respond(mmobile) {
      margin-top: 60px;
      width: 85%;
    }
    @include respond(medium) {
      margin-top: 70px;
    }
    @include respond(xlarge) {
      margin-top: 150px;
    }
  }
  h1 {
    font-size: 23px;
  }
  h2 {
    font-size: 20px;
    margin: 20px 0;
  }
  p {
    font-size: 14px;
    position: absolute;
    bottom: 18px;
  }
  a {
    color: $yellow;
    text-decoration: none;
  }
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $content-color;
}

::-webkit-scrollbar-thumb {
  background: $yellow;
  border-radius: 5px;
}
